.showBox1-enter {
  opacity: 0;
  /* transform: scale(0.9); */
  /* transform: translateY(-50px); */
}
.showBox1-enter-active {
  opacity: 1;
  /* transform: translate(0); */
  transition: opacity 1s, /*transform 300ms*/;
}

/* .showBox1-exit {
  opacity: 1;
} */

.showBox1-exit-active {
  opacity: 0;
  /* transform: scale(0.9); */
  transition: opacity 1s, /*transform 300ms*/;
  
}