.testcss-default {
  overflow: hidden;
  transition: height 500ms ease-in-out
}

.testcss-enter {
  /* background-color: red; */
  height: 0;
}
.testcss-enter-active {
  background-color: green;
  height: 68px;
}
.testcss-enter-done {
  height: 68px;
  background-color: aqua;
}
.testcss-exit {
  height: 68px;
}
.testcss-exit-active {
  background-color: red;
  height: 0;
}
