@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {@apply text-6xl} */
}

@layer components {
  body {@apply
    bg-white text-[#333] 
    dark:bg-[#333] dark:text-white
  }
}
  .todo-button {@apply shrink-0 bg-white border border-gray-300 rounded px-2 py-1 flex justify-center items-center text-xs text-black disabled:text-gray-400;
}
  /* .active {@apply border-r border-white} */


  /*Firefox scroll*/ 
  /* .ScrollingForCategories{
    scrollbar-width: 15px;
    scrollbar-color: blue orange;
  } */
  /*Chrome, Edge and Safari scroll*/ 
  /* .ScrollingForCategories::-webkit-scrollbar {width: 10px;}
  .ScrollingForCategories::-webkit-scrollbar-track {@apply bg-[#e5e7eb] dark:bg-[#444]} 
  .ScrollingForCategories::-webkit-scrollbar-thumb {@apply bg-black dark:bg-white } */